* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("/assets/background.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 200px;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

ul img {
    height: 35px;
}

li {
    transition: all ease-in-out 0.1s;
}

li:hover {
    transform: scale(1.4)
}