* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

main {
    background-image: url("assets/background.png");
    display: grid;
    justify-content: center;
}

img {
    height: 3rem;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

ul img {
    height: 10px;
}

li {
    transition: all ease-in-out 0.1s;
}

li:hover {
    transform: scale(1.3)
}