* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

:root {
    --coffee: #38220f;
}

main {
    background-image: url("/assets/background.png");
<<<<<<< HEAD
    height: 100vh;
    width: auto;
=======
    height: 98vh;
    padding: 2px;
>>>>>>> 33549250a0b32de6d4f5bc789e46a1b3d854dc19
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-height: 30vh;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

ul img {
    height: 35px;
}

li {
    transition: all ease-in-out 0.1s;
}

li:hover {
    transform: scale(1.4)
}

footer {
    height: auto;
    color: white;
    background-color: var(--coffee);
    display:flex;
    justify-content: center;
}

@media only screen and (max-width:1000px) {
    img {
        height: 120px; 
    }

    ul img {
        height: 30px; 
    }
}

@media only screen and (max-width: 600px) {
    img {
        height: 80px; 
    }

    ul img {
        height: 25px; 
    }
}

@media only screen and (max-width: 400px) {
    img {
        height: 50px; 
    }

    ul img {
        height: 20px; 
    }
}

@media only screen and (max-width: 200px) {
    img {
        height: 50px; 
    }

    ul img {
        height: 20px; 
    }
}